// padding & margins

$gap-1: 8px;
$gap-2: 16px;
$gap-3: 36px;
$gap-4: 48px;
$gap-5: 72px;

// Margin

.m-1 {
    margin: $gap-1;
}

.m-2 {
    margin: $gap-2;
}

.m-3 {
    margin: $gap-3;
}

.m-4 {
    margin: $gap-4;
}

.m-5 {
    margin: $gap-5;
}

.mt-1 {
    margin-top: $gap-1;
}

.mt-2 {
    margin-top: $gap-2;
}

.mt-3 {
    margin-top: $gap-3;
}

.mt-4 {
    margin-top: $gap-4;
}

.mt-5 {
    margin-top: $gap-5;
}

.mr-1 {
    margin-right: $gap-1;
}

.mr-2 {
    margin-right: $gap-2;
}

.mr-3 {
    margin-right: $gap-3;
}

.mr-4 {
    margin-right: $gap-4;
}

.mr-5 {
    margin-right: $gap-5;
}

.mb-1 {
    margin-bottom: $gap-1;
}

.mb-2 {
    margin-bottom: $gap-2;
}

.mb-3 {
    margin-bottom: $gap-3;
}

.mb-4 {
    margin-bottom: $gap-4;
}

.mb-5 {
    margin-bottom: $gap-5;
}

.ml-1 {
    margin-left: $gap-1;
}

.ml-2 {
    margin-left: $gap-2;
}

.ml-3 {
    margin-left: $gap-3;
}

.ml-4 {
    margin-left: $gap-4;
}

.ml-5 {
    margin-left: $gap-5;
}

// Padding

.p-1 {
    padding: $gap-1;
}

.p-2 {
    padding: $gap-2;
}

.p-3 {
    padding: $gap-3;
}

.p-4 {
    padding: $gap-4;
}

.p-5 {
    padding: $gap-5;
}